<p class="text-center text-muted">&copy; Copyright 2020 The Awesome People</p>
<script src="/node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="/node_modules/jquery/dist/jquery.slim.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
