<!DOCTYPE html>
<html>
    <head>
        <title>Registration Successful</title>
        <!-- Include Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
        />
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <% if (successMessage) { %>
                    <div class="alert alert-success mt-3" role="alert">
                        <%= successMessage %>
                    </div>
                    <% } %>
                    <h1 class="text-center">Registration Successful</h1>
                    <p class="text-center">
                        You have successfully registered. You can now
                        <a href="/login">login</a>.
                    </p>
                </div>
            </div>
        </div>

        <!-- Include Bootstrap JS and its dependencies -->
        <script src="/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="/node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>
